#tsparticles{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -200000;
}
.particles {
  position: relative;
  z-index: -200000;
}
.navbar{
  display: flex;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 0px;
  z-index: 1000;
  overflow: hidden;
  top: 0;
  background-color: #4286FF;
}
.notNav{
  top: 100px;
  margin-top: 100px;
  text-align: center;
  color: black;
}

@font-face {
  font-family: retro-text;
  src: url("./assets/Retro_Gaming.ttf");
}

.abtMe {
  font-family: retro-text;
  position: relative;
  /* padding-bottom: 500px; */
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20%;
  z-index: 100;
  background-color: #3763B3;
}

.notNav h1{
  z-index: 100;
}

.abtMe a{
  box-shadow: inset 0 0 0 0 #3763B3;
  text-decoration: none;
  padding: 0 5px;
  color: #000;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.abtMe a:hover{
  text-decoration: none;
  /* color: black; */
  /* box-shadow: inset 200px 0 0 0 #3C4142; */
  box-shadow: inset 200px 0 0 0 #000;
  color: #3763B3;
}

/* Profile Pic Image */

.notNav img{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* z-index: -100; */
  /* margin-top: 100px; */
}

body {
  margin: 0;
  /* background-color: #2a6575; */
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.navbarItem {
  display: inline-block;
  color: #e5e9ec;
  /* padding: 14px 16px; */
  /* padding-top: 3%; */
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 25px;
  text-decoration: none;
}

.homeBtn{
  display: contents;
  /* padding: 16px 16px 16px 16px; */
  padding: 0px 0px 0px 0px;

}
.wrapper {
  position: relative;
  display: block;
  width: 20%;
  height: 30%;
  /* overflow: hidden; */
  margin-top: 23%;
  /* margin-left: 34%; */
  margin-left: 34%;
  margin-right: auto;
  max-width: 5vw;
}

.emptyWrapper {
  margin-bottom: 40vh;
  margin-top: 40vh;
  display: block;
  text-align: center;
}
.emptyWrapper h1{
  font-family: retro-text;
  font-size: 10vw;
 
  color: #3763B3;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 100;
}

#crate {
  position: relative;
  /* width: 100%;
  height: 100%; */
  /* top: 20px; */
  top: 2.5vh;
  z-index: 2;
}

#slideDuck {
  position: relative;
  left: 0px;
  margin-top: -300px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.wrapper:hover #slideDuck{
  transition: all 0.5s ease-in-out;
  left: -500px;
}


.homeIcon {
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 0;
  background: url("./assets/duck_icon.png");
}
.homeIcon:hover{
  background: url("./assets/duck_icon_sleep.png");
}

.duck{
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 0;
}
.sticky {
  position: fixed;
  top: 0; 
  width: 100%;
}


.nonCrate{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #3763B3;
  text-align: center;

}

.nonCrate span{
  font-family: retro-text;
  font-size: 4vh;
  color: #fff;
  z-index: 00;
  padding: 0,0;
}

.linkTableSubhead {
  background-color: #4286FF;
  color: #4286FF;
}
.bfImage{
  z-index: 99999;
}

.linktable {
  margin-top: 0%;
}

.top5{
  margin-top: 0px;
  padding-top: 10vh;
  
}

.scheduleTable{
  border-spacing: 0px;
  padding-left: 5%;
  padding-right: 5%;
  width: 95%;
  margin: 0 auto;
}
.scheduleList{
  width: 100%;
  height: 35vh;
}
.period{
  width: 2.5%;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 2px solid black;

}
.weekday{
  height: 2.5%;
  border: 1px solid black;
  border-top: 2px solid black;
}
.thickleft{
  border-left: 2px solid black !important;
}
.thickright{
  border-right: 2px solid black !important;
}
.parent{

  width: 100%;
  height: 100%;

  display: block;
  /* background-color: #3763B3; */
  background-color: #fff;
  text-align: center;
  /* margin-top: 0px; */
  /* margin-bottom: 100px; */
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  /* padding-bottom: 500px; */
  /* z-index: 100; */

}
.lunch {
  opacity: 1;
  /* margin-top: 50%;   */
  /* margin-top: 2.5vh; */
  top: 96%;
  left: 50%; 
  position: absolute;
  transition: .5s ease;
  backface-visibility: hidden;
}
.menu{
  opacity: 0;
  /* display: block; */
  position: absolute;
  top: 91.5%;
  left: 48.5%;
  transition: .5s ease;
  backface-visibility: hidden
}
.menuBack {
  background-image: url("./assets/sage.png");
  width: 108px;
  height: 108px;
}
.lunch:hover{
  opacity: 0;
}
.menu:hover{
  opacity: 1;

}
.nobordertop { border-top: none !important; }
.noborderbottom { border-bottom: none !important; }
.noborderleft { border-left: none !important; }
.noborderright { border-right: none !important; }
.scheduleTableColumn{
  border: 1px solid black;
  width: 20%;
  height: 10vh
  
}

.welcome {
  position: absolute;
  font-family: 'Brush Script MT', cursive;
  font-size: 5vw;
  color: #e0a500;
  margin-left: 27vw;
  margin-top: 35vh;

  /* margin-bottom: auto; */
  /* z-index: 100; */
}
.backgroundImg{
  width: 100vw;
  height: 90vh;
}
.nonBackground{
  width: 100vw;
  /* height: 93vh; */
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #3763B3;
}
.introText{
  margin: auto;
  width: 75vw;
}
.introText h4{
  margin: auto;
}
.introTitle{
  margin: auto auto;
  font-size: 3vw;
}
.aboutUnderdark{
  margin: auto;
  text-align: center;
  width: 75vw;
}
.thingsToDo{
  display: block;
  text-align: center;
  margin: auto;
}
.thingText{
  
}
.mobileBackround{
  width: 100vw;
  height: 100vh;
  background-color: #3763B3;
}